<?xml version="1.0" ?>

<window>
  <width>602</width>
  <height>767</height>
  <style
    material_theme="Dark"
    material_primary="Teal"
    material_accent="Purple"
    toolbar_color_light="#44ee44"
    toolbar_text_color_light="#004400"
    toolbar_color_dark="#004400"
    toolbar_text_color_dark="#44ee44"
    plugin_toolbar_color_light="#4444ee"
    plugin_toolbar_text_color_light="#000044"
    plugin_toolbar_color_dark="#000044"
    plugin_toolbar_text_color_dark="#4444ee"
  />
  <menus>
    <plugins from_paths="false">
      <show>Tesseract Scene 3D</show>
      <show>Tesseract Grid Config</show>
      <show>Tesseract Load</show>
      <show>Tesseract Video Recorder</show>
      <show>Tesseract Setup Wizard</show>
    </plugins>
  </menus>
</window>
<plugin filename="TesseractScene3D">
    <ignition-gui>
      <title>Tesseract Scene 3D</title>
      <property type="bool" key="showDockButton">true</property>
      <property type="bool" key="showTitleBar">false</property>
      <property type="bool" key="resizable">true</property>
      <property type="string" key="state">docked</property>
    </ignition-gui>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>0 0 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="TesseractGridConfig">
    <ignition-gui>
      <title>Tesseract Grid Config</title>
      <property type="bool" key="showDockButton">true</property>
      <property type="bool" key="showTitleBar">false</property>
      <property type="bool" key="resizable">false</property>
      <property type="string" key="state">docked</property>
    </ignition-gui>
</plugin>
